{% extends 'layout.html' %}

{% if error %}
	<div class="alert alert-danger">{{error}}</div>
{% endif %}

{% block body %}
		{% for tag in tags %}
			<a href="/home/{{tag.id}}" class="btn btn-primary">{{tag.name}}</a>
		{% endfor %}
	<br/><br/><br/><br/>
		<ul class="list-group">
			{% for lesson in lessons %}
				<li class="list-group-item list-group-item-action flex-column align-items-start">
					<p class="mb-1">{{lesson.lesson}}</p>
					<small class="text-muted">{{lesson.source}}</small>
				</li>
			{% endfor %}
		</ul>
{% endblock %}
